.header{
    text-align: center;
    color:#f1c40f;
    font-size: 70px;
    font-weight:700;
}
.delete{
    display: none;
}
.idea{
    width: fit-content;
}
.idea:hover>.delete{
    display: block;
}