.header{
    text-align: center;
    color:#f1c40f;
    font-size: 70px;
    font-weight:700;
}
.delete{
    display: none;
}
.idea{
    width: 100%;
    font-size: 20px;
    line-height: 20px;
}
.idea:hover>.delete{
    display: block;
}
.add{
    width: 100%;
}